{{define "title"}}Change Password{{end}}
{{define "main"}}
<h2>Change Password</h2>
<!--检查传递过来的数据是否有值，如果有，展示他们-->
<form action="/account/password/update" method="post" novalidateo>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{range .Form.NonFieldErrors}}
    <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Current Password</label>
        {{with .Form.FieldErrors.currentPassword}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="current_password" value="{{.Form.CurrentPassword}}">
    </div>
    <div>
        <label>New Password</label>
        {{with .Form.FieldErrors.newPassword}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="new_password" value="{{.Form.NewPassword}}">
    </div>
    <div>
        <label>Confirm New Password</label>
        {{with .Form.FieldErrors.confirmPassword}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="confirm_password" value="{{.Form.ConfirmPassword}}">
        <div><input type="submit" value="Update"></div>
    </div>
</form>
<label></label>
{{end}}